.comment-form
  =link_to(image_for(current_user, "30x30#"), current_user, :class => "comment-image")
  =semantic_form_for(comment, :remote => true, :html => {:class => "loader-long"}) do |form|
    =form.hidden_field :post_id
    =form.inputs do
      =form.input :text, :as => :string, :label => false, :input_html => {:placeholder => "Write a comment...", :id => ""}