-if can?((post.new_record? ? :create : :update), post)
  =semantic_form_for(post, :format => :js, :remote => true, :multipart => true, :html => {:class => "post_form#{post.errors.present? ? ' expanded' : ''}"}) do |form|
    =form.inputs do
      =form.input :target_type, :as => :hidden
      =form.input :target_id, :as => :hidden
      .fake-textarea
        =form.input :text, :label => false, :input_html => {:rows => 3, :placeholder => "Post something"}
        =form.input :tag_list, :label => "<i class='icon icon-tag'></i>".html_safe, :input_html => {:placeholder => "Tags", :'data-autocomplete' => autocomplete_tags_path, :'data-delimiter' => ', '}, :wrapper_html => {:class => "post_tag_list_input"}
    .mt-1
      =form.input :retained_image, :as => :hidden
      =form.input :image, :as => :file, :label => false, :wrapper_html => {:class => "post-media-field", :data => {:media_type => 'image'}}
      =form.input :video_url, :label => false, :wrapper_html => {:class => "post-media-field", :data => {:media_type => 'video'}}, :input_html => {:placeholder => "URL from YouTube or Vimeo"}
      =form.input :retained_file, :as => :hidden
      =form.input :file, :as => :file, :label => false, :wrapper_html => {:class => "post-media-field", :data => {:media_type => 'file'}}
      =link_to("Add a photo", "#", :data => {:media_type => "image"}, :class => "btn btn-small post-add-media")
      =link_to("Add a video", "#", :data => {:media_type => "video"}, :class => "btn btn-small post-add-media")
      =link_to("Add a file", "#", :data => {:media_type => "file"}, :class => "btn btn-small post-add-media")
      =form.commit_button "Post", :button_html => {:class => "pull-right btn-primary mb-1", :"data-loading-text" => "Posting..."}