-if can?(:create, Post)
  =semantic_form_for(post, :format => :js, :remote => true, :html => {:class => "post_form"}) do |form|
    =form.inputs do
      =form.input :target_type, :as => :hidden
      =form.input :target_id, :as => :hidden
      =form.input :text, :label => false, :input_html => {:rows => 3, :placeholder => "Post something"}
      =form.commit_button "Post"