.container
  .row
    .span8
      %h1=title("Latest posts")
  .row
    .span8
      -if can?(:create, Post)
        =render("posts/remote_form", :post => current_user.posts.build)
      =render("posts/posts", :posts => @posts)
