.post_form:not(.expanded) {
  .form-group {
    margin-bottom: 0;
  }
  .not-expanded {
    display: none;
  }
}
.post{
  border-radius: 5px;
  box-shadow:0 1px 10px rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.1), 0 -1px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  .post-tags {
    margin-left: 10px;
    span.tag-label {
      background-color: #428bca;
    }}
  .post-top {
    background:$g-1;
    padding:9px 10px;
    time{
      padding:0 5px;
      color:$g-2;
    }
    a, i {
      float: left;
      margin-left: 10px;
      line-height: 1;
      font-size: 1.2em;
    }
    img {
      margin: 0 5px 5px 0;
      border-radius: 5px
    }
    .post-delete
      {
        float:right;
       .fa{
          padding: 0px 5px;
          font-size: 1.2em;
          color:$g-3;
          line-height: 1;
          &:hover{
            color:$g-4;
          }
        }
    }
    .post-delete .fa.active{
      color:$g-4;
    }
  }
  .post-content {
     background: #fff;
     padding: 20px;
  }
  .post-image {
    position:relative;
    max-height: 400px;
    overflow: hidden;
    a{
      display: block;
    }
    img{
      width:100%;
    }
  }
}

/*========== Comments ==========*/
.comments {
  padding: 20px 0;
  a.toggle-comments {
    padding: 0 20px 20px 20px;
  }
  .comment, .comment-form {
    display: none;
  }
}
.comments.expanded {
  .comment, .comment-form {
    display: block;
  }
}
.comment, .comment-form {
  margin-top: 10px;
  a.comment-delete-link {
    float: right;
    margin-right: 10px;
  }
  padding-left: 15px;
  img {
    float: left;
    border-radius: 5px;
    margin: 0 5px 5px 0;
  }
  .comment-text {
    float: left;
    margin-left: 10px;
  }
}
