form.post_form {
  width: 100%;
}
form.post_form textarea {
  width: 98%;
  padding: 1%;
}
form.post_form #post_text_input {
  margin-bottom: 0px;
}
form.post_form input {
  margin: 0;
}
.posts {
  width: 100%;
}
div.post .post_intro {
  margin-bottom: 10px;
}
div.post .post_user img {
  width: 100%;
}
div.post .post_user {
  text-align: center;
}
div.post .post_content p, .post .post_content img {
  clear: both;
}