form.post_form {
  width: 100%;
}
form.post_form .form-actions {
  margin-top: 0;
  border: none;
}
form.post_form .post_tag_list_input .control-label {
  float: left;
}
form.post_form .post_tag_list_input {
  border-top: 1px dotted #ccc;
  padding-top: 4px;
  font-size: 11px;
  color: #999;
}
form.post_form .post_tag_list_input input {
  font-weight: normal;
  width: 100%;
}
form.post_form .post_tag_list_input label {
  margin-right: 5px;
}
form.post_form .post_tag_list_input label, form.post_form .post_tag_list_input div.controls {
  display: inline-block;
}
form.post_form .fake-textarea .control-group, form.post_form .fake-textarea textarea {
  margin-bottom: 0;
}
form.post_form input {
  margin: 0;
}
.posts {
  width: 100%;
}
div.post {
  width: 100%;
  float: left;
  clear: both;
}
div.post .post_user {
  width: 100%;
  padding-bottom: 5px;
}
div.post .post_user img {
  margin-right: 10px;
}
form.post_form div, form.post_form.expanded .hidden, form.post_form.expanded .collapse {
  display: none;
}
form.post_form.expanded div, 
form.post_form .fake-textarea, 
form.post_form .fake-textarea #post_text_input,
form.post_form .fake-textarea #post_text_input div,
form.post_form.expanded .collapse.in {
  display: block;
}
form.post_form .fake-textarea, 
form.post_form .fake-textarea textarea  {
  height: 20px;
}
form.post_form.expanded .fake-textarea,
form.post_form.expanded .fake-textarea textarea {
  height: inherit;
}
#post_modal, #post_modal .modal-body {
  width: auto;
/*  max-height: none;*/
}
#post_modal .modal-header {
  border: none;
}
#post_modal a.close {
  margin-top: -2px;
}

/*========== Comments ==========*/

div.post .comment-list {
  width: 90%;
  float: right;
  clear: both;
}
.comment-list .comment {
  float: left;
  clear: both;
  margin-top: 10px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}
.comment-list .first-comment {
  border-top: none;
  padding-top: 0px;
}
.comment-list .comment .comment-image {
  float: left;
  width: 8%;
}
.comment-list .comment .comment-text {
  float: left;
  width: 92%;
}